/*customize survey*/

#question-block-1, #question-block-2, #question-block-3 {
    background-color: #DBD9D9;
}

.panel-survey {
  margin-top: 30px;
}

.survey-label {
  padding-top: 7px;
  margin-bottom: 0;
  text-align: left;
}

.survey-select {
  margin-top: 10px;
  margin-bottom: 20px;
}

/*#question-block-2, #question-block-3 {
  display: none;
}*/

.suggestion {
  display:none;
}

/*customize header*/

.custom-header {
  border-bottom: 0px;
}
