/*customize survey*/

#question-block-1, #question-block-2, #question-block-3 {
  background-color: #DBD9D9;
}

.panel-survey {
  margin-top: 30px;
}

.survey-label {
  padding-top: 7px;
  margin-bottom: 0;
  text-align: left;
}

.survey-select {
  margin-top: 10px;
  margin-bottom: 20px;
}

#question-block-2, #question-block-3 {
  display: none;
}

/*customize response*/

.suggestion-hide {
  display:none;
  font-size: 2em;
}

.suggestion {
  margin-top: 20%;
}

body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

#suggestion-eyehurt {
  color: #FE0000;
}

#suggestion-eyehurt .jumbotron {
  background-color: #FF00FF;
}

#suggestion-eyehurt .btn-default {
  color: #01C3FF;
  background-color: #FF6801;
  border-color: #5EFF01;
}

/*customize header*/

.custom-header {
  border-bottom: 0px;
}
